
.chatbox {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
 width: 100%;
 min-height: 200px;
}
.actions {
 position: fixed;
 bottom: 0;
 display: block;
 width: 100%;
}
.actions input{
 height: 30px;
 opacity: 0.5;
 position: center;
 width: 26%;
 outline: 0;
 border-top: 0;
 border-left: 0;
 border-right: 0;
}
.messages div {
 max-width: 200%;
 display: block;
 margin: 5px;
 padding: 10px;
 border-radius: 12px;
}
.messages .bot {
 text-align: left;
 margin-right: auto;
 background: #ff6666;
 color: white;
}
.messages .user {
 text-align: right;
 margin-left: auto;
 background: #99d6ff;
}
